@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 8
   Coding Challenge 3

   Filename: styles.css
*/

/* Page background */
html {
   background-color: #ffffff;
}

/* Main page container */
body {
   width: 960px;
   margin: 0 auto;
   padding: 20px;
   position: relative;
   background-color: #ffffff;
}

/* Page heading */
h1 {
   font-family: Cambria, "Hoefler Text", "Liberation Serif",
                Times, "Times New Roman", serif;
   font-size: 4em;
   text-align: center;
   color: white;

   /* Soft glow so it shows up over cube */
   text-shadow:
      0px 0px 2px black,
      0px 0px 20px black;
}
