@charset "utf-8";
/*
  New Perspectives on HTML5 and CSS3, 8th Edition
  Tutorial 3
  Coding Challenge 1

  Filename: float.css
*/

@import url("styles.css");

/* Drop cap */
p:first-of-type::first-letter {
  float: left;
  font-size: 4em;
  line-height: 0.8em;
  margin-right: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.2em;
}

/* Small caps first line */
p:first-of-type::first-line {
  font-variant: small-caps;
  font-size: 1.4em;
}

/* Stack the image strips on the right to create the irregular wrap */
img {
  height: 3.3em;
  float: right;
  clear: right;
}
